.intro {
  padding-top: 220px;
  padding-bottom: 123px;
  color: #ffffff;
  font-family: 'RobotoSlab';
  .intro-top {
    font-size: 30px;
    letter-spacing: 3px;
    display: inline-block;
    font-weight: 400;

    &:before,&:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 100px;
      border-bottom: 2px solid #fff;
    }
    &:before {
      left: -120px;
    }
    &:after {
      right: -120px;
    }
  }
  .intro-title {
    margin-top: 20px;
    line-height: 1;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.12em;
  }
}

.underline {
  width: 100px;
  height: 2px;
  margin: 30px auto 40px auto;
  &.grey {
    background-color: #b7b7b7;
  }
  &.red {
    background-color: #d81a24;
  }
}

.leave-comment {
  input {
    border: 1px solid;
  }
}

.reviews-block {
  .user-name {

    a {
      font-family: 'RobotoSlab',serif;
      color: #d81a24;
      font-size: 18px;
      font-weight: 800;
    }
  }
  .post-time {
    margin-top: 0;
    font-size: 16px;
    font-weight: 300;
    color: #b7b7b7;
    font-family: 'Roboto',sans-serif;
  }
  .comment-text {
    letter-spacing: 0.02em;
    font-weight: 300;
    font-family: 'Roboto',sans-serif;
    line-height: 1.5;
    font-size: 16px;
  }
  .reply-icon {
    i {

    }
    &:before {
      content: "\f3e5";
      color: #d81a24;
      position: relative;
      font-weight: 400;
      font-size: 20px;
      font-style: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      font-family: 'FontAwesome-Solid',sans-serif;

    }
  }
  .comment-avatar {
    padding-right: 22px;
  }
  .comment-item {
    &.replied {
      margin-top: 30px;
      margin-left: 90px;
      .post-time {
        .reply-icon {
          color: #b7b7b7;
          font-size: 16px;
          margin-left: 50px;
          &:before {
            color: #b7b7b7;
            font-size: 18px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.leave-comment {
  h4 {
    color: #000000;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    line-height: 1.36364;
    letter-spacing: 0.06em;
    font-family: "RobotoSlab", serif;
  }
  .reply-form {
    input,textarea {
      display: block;
      width: 100%;
      height: 60px;
      padding: 12px 18px;
      font-size: 16px;
      font-weight: 400;
      line-height: 34px;
      color: #b7b7b7;
      background-color: rgba(246, 246, 246, 0.8);
      background-image: none;
      border: 1px solid rgba(246, 246, 246, 0.8);
      border-radius: 6px;
      -webkit-appearance: none;
      transition: .3s ease-in-out;
    }
    ::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 34px;
      pointer-events: none;
      color: #b7b7b7;
    }
    textarea {
      height: 191px;
      min-height: 50px;
      max-height: 250px;
      resize: vertical;
    }
    .submit-block {
      button {
        padding: 15px 40px;
        font-size: 20px;
        border-radius: 6px;
        min-width: 240px;
        background-color: #d81a24;
        border-color: #d81a24;
        color: #ffffff;
        white-space: nowrap;
        font-family: "RobotoSlab", serif;
        letter-spacing: 0;
        border-width: 2px;
        font-weight: 700;
        transition: .4s;
      }
    }
  }
}


.stars-block {
    overflow: hidden;

  .rated-stars {
    left: 0;
    top: 0;
    z-index: 3;
    overflow: hidden;
    width: 0%;

    .star {
      color: #f9be30;
    }
  }

  .unrated-stars {
    left: 0;
    top: 0;

    .star {
      color: #b7b7b7;
    }
  }

  .star {
    &:before {
      content: "\f005";
      position: relative;
      display: inline-block;
      font-weight: 400;
      font-style: normal;
      speak: none;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      font-family: 'FontAwesome-Solid';
    }
  }
}