header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  font-family: 'RobotoSlab';
  color: white;
  padding: 50px 0;
  transition: .3s all ease;
  .header-navbar {
    li {
      margin-left: 20px;
    }
  }

  .nav-link {
    font-family: 'RobotoSlab';
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    padding: 6px 10px;
    border-radius: 4px;

    &:hover {
      background-color: #d81a24;
      color: #fff;
    }

    &.dropdown-arrow {
      &:after {
        content: "\f078";
        display: inline-block;
        margin-left: 5px;
        font-size: 8px;
        font-weight: 400;
        font-family: 'FontAwesome-Solid';
        vertical-align: top;
        width: auto;
      }
    }
  }

  .dropdown-list {
    background: #151515;
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, .11);
    border-radius: 6px;
    position: absolute;
    z-index: 4;
    padding: 17px 20px;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    top: 140px;

    &.expanded {
      opacity: 1;
      visibility: visible;
      transform: translateY(-30px);
      top: 140px;
    }

    li {
      margin-left: 0;
    }

    .nav-link {
      font-family: 'Roboto';
      font-weight: 300;
      padding: 6px 25px;
      line-height: 24px;

      &:hover {
        color: #d81a24;
        background-color: unset;
      }
    }
  }

  .pages-menu {
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &.dropdown-list {
      padding: 17px 20px;
    }

    .page-menu-title {
      font-size: 22px;
      font-weight: 700;
    }

    .nav-link {
      position: relative;
      padding: 6px 25px;

      &:before {
        content: "\f0da";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        font-size: 12px;
        font-family: "FontAwesome-Solid";
        color: #b7b7b7;
      }
    }
  }

  .search-btn {
    margin: 0 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'FontAwesome-Solid';
    width: 42px;
    height: 38px;
    button {
      color: #fff;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'FontAwesome-Solid';
      width: 42px;
      height: 38px;
    }
    &.active-toggle button:before {
      content: '\f002';
      transition: .3s all ease;
      transform: scale(1) rotate(0deg);
      font-family: 'FontAwesome-Solid';
    }

    &.active-toggle:after,
    &.active-toggle:before {
      //position: absolute;
      //left: 50%;
      //top: 50%;
    }

    &.active-toggle button:after {
      content: '';
      transition: .3s all ease;
      transform: scale(0) rotate(-90deg);
      opacity: 0;
      font-family: 'FontAwesome-Solid';
    }
    &.active-toggle.clicked button{
      &:after {
        content: '\f00d';
        opacity: 1;
        transform: scale(1) rotate(0deg);
      }
      &:before {
        content: "";
        transform: scale(0) rotate(90deg);
        opacity: 0;
      }
    }

    .search-inpt-block {
      position: absolute;
      min-width: 290px;
      top: 125%;
      right: -18px;
      opacity: 0;
      transition: .3s all ease;
      &.clicked {
        opacity: 1;
      }
      input {
        width: 100%;
        padding: 7px 18px 7px 18px;
        height: 48px;
        border-radius: 6px;
        border: none;
        font-size: 16px;
        letter-spacing: 0.02em;
        font-weight: 300;
        line-height: 34px;
        color: #000;
        font-family: 'Roboto';
        background-color: #fff;
        box-shadow: 3px 4px 8px 0px rgba(0, 0, 0,0.11);
      }
    }
  }

  .search-btn,
  .shopping-cart-icon {
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    &:hover {
      background-color: #d81a24;
      color: #fff;

    }
  }

  .shopping-cart-icon {
    color: #fff;

    &:before {
      content: "\f07a";
      font-weight: 400;
      font-family: 'FontAwesome-Solid';
    }
    span {
      font-weight: 700;
      display: inline-block;
      margin-left: 10px;
      font-size: 16px;
    }
  }
}

.activeheader {
  background-color: #151515;
  position: fixed;
  box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.11);
  padding: 11px 0;
}

header.activeheader {
  .dropdown-list {
    top: 110px;
    &.expanded {
      top: 110px;
    }
  }
}